.img-holder{

    background: url("../../assets/eyes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{

    max-width: 1300px;
    margin: 3rem auto;
}

h2{

    margin-bottom: 2rem;
}

li{

    margin: 0 0 1rem 1rem;
}

p{

    text-align: justify;
    margin-bottom: 2rem;
}

.list{
    margin: 2rem auto;
    padding: 1rem;
    background: var(--faded);
    border-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media(max-width: 1300px){

    .container{

        padding: 0 2rem;
    }
}
