<div class="navbar">
    <div class="container">
        <input type="checkbox" id="show-navbar">
        <h2><span><mat-icon>storefront</mat-icon></span> QuickTake</h2>
        <div class="responsive-nav">
            <div class="primary">
                <a routerLink="/collection" name="collection">Collections</a>
                <a routerLink="/products" name="products">Products</a>
                <a routerLink="/about" name="about">About</a>
                <a routerLink="/contact" name="contact">Contact</a>
            </div>
            <div class="secondary">
                <a routerLink="/profile" name="profile"><span><mat-icon>person</mat-icon></span> Profile</a>
                <a routerLink="/cart" name="cart"><span><mat-icon>shopping_cart</mat-icon></span> Cart</a>
                <a routerLink="/" *ngIf="!this.usermanagement.isLogged()" (click)="this.usermanagement.logout()" name="logout"><span><mat-icon>logout</mat-icon></span> Logout</a>
            </div>
        </div>
        <div class="menu">
            <label for="show-navbar" (click)="this.menuOpen()"><mat-icon>menu</mat-icon></label>
        </div>
    </div>
</div>
