.navbar, .container{

    background: var(--dark);
    height: 7vh;
}

input{

    display: none;
}

span{

    vertical-align: middle;
}

.container{

    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--orange);
}

.container>div>div>a,
.container>div>label{

    color: white;
    text-decoration: none;
    margin: 0 1rem;
    transition: all 0.3s ease;
}

.container>div>div>a:hover{

    color: var(--orange);
}

.responsive-nav{

    display: flex;
    width: 65%;
    justify-content: space-between;
}

.menu{

    display: none;
    z-index: 20;
}

.menu label mat-icon{
    cursor: pointer;
}

@media(max-width: 1300px){

    input:checked ~ .responsive-nav{

        width: 30%;
    }

    .responsive-nav{

        position: absolute;
        top: 0;
        right: 0;
        z-index: 15;
        height: 100vh;
        width: 0;
        overflow: hidden;
        background: var(--dark);
        transition: all 0.3s ease;
    }

    .responsive-nav,
    .primary,
    .secondary{

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .primary{

        height: 20vh;
        margin-top: 6rem;
    }

    .secondary{

        height: 10vh;
        margin-bottom: 2rem;
    }

    .menu{

        display: block;
    }
}

@media(max-width: 750px){

    input:checked ~ .responsive-nav{

        width: 50%;
    }
}