<div class="container">
    <div class="login-center">
        <div class="image-container"></div>
        <div class="login-centered">
            <div class="login-container">
                <h2>Login</h2>
                <div class="login-form" action="#">
                    <input type="text" placeholder="Email address" required [(ngModel)]="this.actual.email"><br>
                    <input type="password" placeholder="Password" required [(ngModel)]="this.actual.password"><br>
                    <p class="error" *ngIf="this.usermanagement.incorrectCredentials">Your credentials are either missing or invalid. Try again.</p>
                    <button (click)="this.usermanagement.login(actual)">Login</button>
                </div>
                <div class="signup-link">
                    <p>Don't have an account? <a routerLink="/register" name="register">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
