<div class="container">
    <div class="loginCenter">
        <div class="image-container"></div>
        <div class="login-centered">
            <div class="login-container">
                <h2>Login</h2>
                <div class="login-form" action="#">
                    <input type="text" placeholder="Username" required [(ngModel)]="this.actual.username"><br>
                    <input type="password" placeholder="Password" required [(ngModel)]="this.actual.password"><br>
                    <button>Login</button>
                </div>
                <div class="signup-link">
                    <p>Don't have an account? <a routerLink="/register" name="register">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
