<div class="container">
    <img src="../../assets/fashion.jpg" alt="fashion">
    <div class="contactInfo">
        <h2>Contact Us</h2>
        <p>Every costumer is important to us and us such we would like to grant you the best experience when shopping with us.</p>

        <div class="details">
            <p>Our support line is open 24/7. Feel free co contact us if you have any questions.</p>
            <p><strong>Telephone:</strong> +44**********</p>
            <p><strong>Email:</strong> quicktake@mail.uk</p>
            <p><strong>Opening Hours:</strong></p>

            <table>
                <tr>
                    <td>Monday:</td>
                    <td>08:00-20:00</td>
                </tr>
                <tr>
                    <td>Tuesday:</td>
                    <td>08:00-20:00</td>
                </tr>
                <tr>
                    <td>Wednesday:</td>
                    <td>08:00-20:00</td>
                </tr>
                <tr>
                    <td>Thursday:</td>
                    <td>08:00-20:00</td>
                </tr>
                <tr>
                    <td>Friday:</td>
                    <td>08:00-20:00</td>
                </tr>
                <tr>
                    <td>Saturday:</td>
                    <td>08:00-18:00</td>
                </tr>
                <tr>
                    <td>Sunday:</td>
                    <td>Closed</td>
                </tr>
            </table>
        </div>
        <div class="googleMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.8398866422!2d-0.26640325498733713!3d51.52873980505379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2shu!4v1692290840332!5m2!1sen!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
