<div class="container">
    <div class="header">
        <h1>Shopping Cart</h1>
    </div>
    <div class="cart-container">
        <div class="product-container">
            <div class="header">
                <h2>Products:</h2>
            </div>
            <div class="extra-messages" *ngIf="this.isEmpty">
                <img src="../../assets/empty-cart.png" alt="empty shopping cart">
            </div>
            <div class="extra-messages" *ngIf="this.shoppingCart.orderComplete">
                <img src="../../assets/order-confirmed.png" alt="empty shopping cart">
            </div>
            <div *ngIf="this.shoppingCart.showList">
                <div *ngFor="let x of this.currentList.orders">
                    <div class="cart-item">
                        <img src={{x.product.thumbnail}} alt={{x.product.title}}>
                        <div class="cart-item-info">
                            <p class="cart-item-name">{{x.product.title}}</p>
                            <p>Price: ${{x.product.price}}</p>
                            <p>Selected Amount: {{x.quantity}}</p>
                            <div class="cart-item-price">Total: ${{x.totalPrice}}</div>
                        </div>
                        <div class="cart-item-remove" (click)="this.shoppingCart.removeFromCart(x)">Remove</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-total">
            <div class="header">
                <h2>Checkout:</h2>
            </div>
            <p>Total: ${{this.totalAmount}}</p>
            <button (click)="this.shoppingCart.order()">Continue</button>
            <span class="error-message" *ngIf="this.shoppingCart.emptyCart">Your cart is empty!</span>
        </div>
    </div>
</div>
