.container{

    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 90vh;
}

.header {

    padding: 20px;
    width: 100%;
    border-bottom: 2px solid var(--dark);
    margin-bottom: 3rem;
}

.cart-container {

    width: 1300px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 2rem;
}

.cart-item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
}

.cart-item img {

    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}

.cart-item-info {

    flex: 1;
}

.cart-item-name {

    font-weight: bold;
    color: #333;
}

.cart-item-price {

    color: #ff6600;
}

.cart-item-remove {

    color: #ff6600;
    cursor: pointer;
}

.cart-total {

    font-weight: bold;
    color: #333;
}

.cart-total p{

    font-size: 22px;
}

.cart-total button {

    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    margin-top: 2rem;
}