.img-holder{

    background: url("../../assets/carrot.jpg");
    background-position-y: 40% ;
    background-size: cover;
    background-repeat: no-repeat;
}

.colored{

    background: var(--faded);
    padding: 4rem 0 3rem 0;
    margin: 0 0 2rem 0;
    box-shadow:  8px 8px 11px 0px rgba(54, 33, 2, 0.58);
}

.container{

    max-width: 1300px;
    margin: 0 auto;
}

.intro{

    font-size: 20px;
    line-height: 2rem;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}

.radio-holder{

    max-width: 1300px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 2px solid var(--dark);
    border-top: 2px solid var(--dark);
}


.radio-holder>.inner-radio input{

    display: none;
}

.radio-holder>.inner-radio label{

    display: block;
    width: 150px;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background: var(--dark);
    border: 3px solid var(--dark);
    color: white;
    text-align: center;
    border-radius: 5px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.3s ease;
}

.radio-holder>.inner-radio label:hover{

    border: 3px solid var(--orange);
}

.radio-holder .inner-radio .radio-custom:checked ~ label{

    background: var(--orange);
    border: 3px solid var(--orange);
}

.product-title{

    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    border-bottom: 2px solid var(--dark);
}

.products{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-collections{

    min-width: 300px;
    height: 300px;
    margin: 0 1rem 2rem 1rem;
    position: relative;
    border-radius: 40px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-collections>img{

    width: 100%;
}

.product-collections:hover{

    box-shadow:  8px 8px 11px 0px rgba(0,0,0,0.58);
}

span{

    vertical-align: middle;
}

.faded-information{

    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    padding: 2rem 2rem;
    background: linear-gradient(0deg,var(--dark) 80%, rgba(0, 0, 0, 0));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.faded-information>h2{

    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: var(--orange);
    cursor: pointer;
}

.money{

    font-weight: 600;
}

mat-icon{

    color: var(--orange);
}

@media(max-width: 1300px){

    .colored, .container{

        padding: 2rem 2rem 1rem 2rem;
    }

    .radio-holder::-webkit-scrollbar{

        width: 0;
        height: 0;
    }

    .radio-holder{

        padding: 2rem 0rem;
        margin: 0 2rem;
        overflow-x: auto;
        gap: 1rem;
        justify-content:flex-start;
    }

    .products{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .container{

        text-align: justify;
    }
}

@media(max-width: 1060px){

    .products{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 730px){

    .products{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}