<div class="outer">
    <div class="container">
        <div class="profile-info">
            <div class="header">
                <h2>Personal Information</h2>
            </div>
            <p>Name:</p>
            <input type="text" [(ngModel)]="this.usermanagement.loggedProfile.name">
            <p>Email:</p>
            <input type="email" [(ngModel)]="this.usermanagement.loggedProfile.email">
            <p>Password:</p>
            <input type="password" [(ngModel)]="this.usermanagement.loggedProfile.password">
            <p>Phone:</p>
            <input type="phone" [(ngModel)]="this.usermanagement.loggedProfile.phone">
        </div>
    
        <div class="address-options">
            <div class="header">
                <h2>Address Options</h2>
            </div>
            <p>Postal Code:</p>
            <input type="number" [(ngModel)]="this.usermanagement.loggedProfile.postalCode">
            <p>City:</p>
            <input type="text" [(ngModel)]="this.usermanagement.loggedProfile.city">
            <p>Street:</p>
            <input type="text" [(ngModel)]="this.usermanagement.loggedProfile.street">
            <p>House:</p>
            <input type="number" [(ngModel)]="this.usermanagement.loggedProfile.houseNumber">
        </div>
        <button (click)="this.usermanagement.updateProfile()">Update</button>
    </div>
</div>