.outer{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    width: 1300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 3rem 1rem;
}

.header{

    padding: 1rem 0;
    margin: 2rem 0;
    border-bottom: 1px solid var(--dark);
}

.profile-info {

    padding: 20px;
    margin-bottom: 20px;
}

.address-options {

    padding: 20px;
    margin-bottom: 20px;
}

.order-history {

    padding: 20px;
}