.outer{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    width: 1300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 3rem 1rem;
}

.header{

    padding: 1rem 0;
    margin: 2rem 0;
    border-bottom: 1px solid var(--dark);
}

.profile-info {

    padding: 20px;
    margin-bottom: 20px;
}

.address-options {

    padding: 20px;
    margin-bottom: 20px;
}

.order-history {

    padding: 20px;
}

input{

    border: none;
    border-bottom: 1px solid var(--dark);
    outline: none;
    font-size: 22px;
    margin: 0.8rem 0 2rem 0;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

input:hover{

    background: var(--faded);
}

button{

    font-size: 1rem;
    margin: 0 0 2rem 1rem;
}

h3{

    margin-bottom: 1rem;
}

.check-shopping-cart{

    margin: 2rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid var(--dark);
}

.order-listed{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.order-listed p{

    margin-bottom: 1rem;
}