<div class="outer">
    <div class="container">
        <div class="profile-info">
            <div class="header">
                <h2>Personal Information</h2>
            </div>
            <p>Name:</p>
            <input type="text">
            <p>Email:</p>
            <input type="email">
            <p>Phone:</p>
            <input type="phone">
        </div>
    
        <div class="address-options">
            <div class="header">
                <h2>Address Options</h2>
            </div>
            <p>Postal Code:</p>
            <input type="number">
            <p>City:</p>
            <input type="text">
            <p>Street:</p>
            <input type="text">
            <p>House:</p>
            <input type="number">
        </div>
    
        <div class="order-history">
            <div class="header">
                <h2>Order History</h2>
            </div>
        </div>
    </div>
</div>