:root{

    --orange: #e47f46;
    --dark: #212121;
    --faded: #e5e3e0;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
