:root{

    --orange: #e47f46;
    --dark: #212121;
    --faded: #e5e3e0;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .img-holder{

    max-width: 1300px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 90px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button{

  padding: 10px 15px;
  color: white;
  background: var(--orange);
  border: none;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover{

  box-shadow:  8px 8px 11px 0px rgba(54, 33, 2, 0.58);
}