<div class="fullcontainer">
    <div class="container">
        <div class="titleHolder">
            <h2>{{selectedProduct.title}}</h2>
        </div>
        <div class="devider">
            <div class="carouselHolder">
                <div class="carousel">
                    <img src={{images[index]}} alt={{selectedProduct.title}}>
                    <button (click)="this.nextImage()" id="next"><mat-icon>chevron_right</mat-icon></button>
                    <button (click)="this.previousImage()" id="previous"><mat-icon>chevron_left</mat-icon></button>
                </div>
            </div>
            <div class="info">
                <p><span>Brand:</span> {{selectedProduct.brand}}</p>
                <p><span>Rating:</span> {{selectedProduct.rating}}<mat-icon>star</mat-icon></p>
                <p><span>Description:</span> {{selectedProduct.description}}</p>
                <p id="price"><span>Price:</span> {{fullPrice}}<mat-icon id="money">attach_money</mat-icon></p>
                <p><span>Quantity:</span></p>
                <select id="stockCount" (change)="getSelectedAndChangePrice($event)">
                </select>
                <button id="addToCart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="titleHolder">
        <h2>Products you might also like:</h2>
    </div>

    <div class="otherProducts">
        <div class="productCollections" *ngFor="let x of this.service.products">
            <img src={{x.thumbnail}} alt={{x.title}}>
            <div class="fadedInformation">
                <h2 (click)="this.service.openProduct(x)">{{x.title}}</h2>
                <p class="money">{{x.price}} EUR</p>
                <h4>{{x.rating}}<span><mat-icon>star</mat-icon></span></h4>
            </div>    
        </div>
    </div>
</div>
