.fullcontainer{

    padding: 3rem 0;
    background: var(--faded);
    margin-bottom: 5rem;
    box-shadow:  8px 8px 11px 0px rgba(54, 33, 2, 0.58);
}

.container{

    max-width: 1300px;
    margin: 0rem auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.titleHolder{

    padding-top: 3rem;
    margin: 0rem 0 4rem 0;
    padding: 0 2rem;
    border-bottom: 3px solid var(--orange);
}

.titleHolder>h2{

    font-size: 2rem;
}

.devider{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carousel{

    max-width: 500px;
    min-height: 250px;
    position: relative;
    margin: 0 auto;
}

#next, #previous{

    position: absolute;
    top: 0;
    height: 98.5%;
    border: none;
    background: rgba(39, 39, 39, 0.247);
    color: white;
    cursor: pointer;
    border-radius: 0;
}

#next>.mat-icon,
#previous>.mat-icon {
    font-size: 50px;
    height: 50px ;
    width: 50px;
}

#next:hover, 
#previous:hover{

    background: rgb(70, 70, 70);
    box-shadow: none;
}

#next{

    right: 0;
}

#previous{

    left: 0;
}

.info{
    padding: 0 3rem;
}

.info>p{

    margin: 1.5rem 0;
    font-size: 22px;
}

p>span{

    font-weight: 600;
    display: block;
    margin-bottom: 0.8rem;
    color: black;
    font-size: 22px;
}

p>.mat-icon{

    vertical-align: text-top;
    color: var(--orange);
}

#money{

    height: 35px;
    width: 35px;
    font-size: 35px;
}

#price{

    color: var(--orange);
    font-size: 30px;
}

select{

    display: block;
    margin-bottom: 2rem;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
}

select:focus{

    box-shadow:  8px 8px 11px 0px rgba(54, 33, 2, 0.58);
    outline: none;
}