.fullcontainer{

    padding: 3rem 0;
    background: var(--faded);
    margin-bottom: 5rem;
    box-shadow:  8px 8px 11px 0px rgba(54, 33, 2, 0.58);
}

.container{

    max-width: 1300px;
    margin: 0rem auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.title-holder{

    padding-top: 3rem;
    margin: 0rem 0 4rem 0;
    padding: 0 2rem;
    border-bottom: 3px solid var(--orange);
}

.title-holder>h2{

    font-size: 2rem;
}

.devider{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carousel{

    max-width: 500px;
    min-height: 250px;
    position: relative;
    margin: 0 auto;
}

#next, #previous{

    position: absolute;
    top: 0;
    height: 98.5%;
    border: none;
    background: rgba(39, 39, 39, 0.247);
    color: white;
    cursor: pointer;
    border-radius: 0;
}

#next>.mat-icon,
#previous>.mat-icon {
    font-size: 50px;
    height: 50px ;
    width: 50px;
}

#next:hover, 
#previous:hover{

    background: rgb(70, 70, 70);
    box-shadow: none;
}

#next{

    right: 0;
}

#previous{

    left: 0;
}

.info{
    padding: 0 3rem;
}

.info>p{

    margin: 1.5rem 0;
    font-size: 22px;
}

p>span{

    font-weight: 600;
    display: block;
    margin-bottom: 0.8rem;
    color: black;
    font-size: 22px;
}

p>.mat-icon{

    vertical-align: text-top;
    color: var(--orange);
}

#money{

    height: 35px;
    width: 35px;
    font-size: 35px;
}

#price{

    color: var(--orange);
    font-size: 30px;
}

select{

    display: block;
    margin-bottom: 2rem;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
}

select:focus{

    box-shadow:  8px 8px 11px 0px rgba(54, 33, 2, 0.58);
    outline: none;
}

#add-to-cart{

    width: 300px;
    height: 40px;
    font-size: 22px;
}


.other-products{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-collections{

    min-width: 300px;
    height: 300px;
    margin: 0 1rem 2rem 1rem;
    position: relative;
    border-radius: 40px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-collections>img{

    width: 100%;
}

.product-collections:hover{

    box-shadow:  8px 8px 11px 0px rgba(0,0,0,0.58);
}

span{

    vertical-align: middle;
}

.faded-information{

    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    padding: 2rem 2rem;
    background: linear-gradient(0deg,var(--dark) 80%, rgba(0, 0, 0, 0));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.faded-information>h2{

    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: var(--orange);
    cursor: pointer;
}

.money{

    font-weight: 600;
}

mat-icon{

    color: var(--orange);
}

.confirm-message{

    position: absolute;
    margin-top: 1rem;
    padding: 10px 15px;
    background: rgba(0, 246, 0, 0.245);
    border-radius: 8px;
    border: 1px solid rgb(0, 255, 0);
}

@media(max-width: 1300px){

    .fullcontainer{

        padding: 3rem 0 6rem 0;
    }

    .container{

        padding: 0 2rem;
    }

    .devider{

        display: block;
        width: 100%;
    }

    .carousel img{

        width: 100%;
    }
}

@media(max-width: 1060px){

    .other-products{

        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 750px){

    .other-products{

        grid-template-columns: repeat(1, 1fr);
    }

    .info{

        padding: 0;
    }

    .info select{

        width: 100%;
    }

    .confirm-message{

        width: 300px;
    }
}

@media(max-width: 400px){

    .product-collections{

        margin: 0 0 2rem 0;
    }
}