.img-holder{

    background: url("../../assets/carrot.jpg");
    background-position-y: 40% ;
    background-size: cover;
    background-repeat: no-repeat;
}

.colored{

    background: var(--faded);
    padding: 2rem 0 1rem 0;
    box-shadow:  8px 8px 11px 0px rgba(54, 33, 2, 0.58);
}

#intro{

    display: inline;
    margin-right: 2rem;
}

.container, .container-sec{

    max-width: 1300px;
    margin: 0 auto;
}

.container{

    padding: 1rem 0;
}

.container>h2, .container-sec>h2{

    font-size: 2rem;
    margin: 3rem 0;
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 5px;
}

.product-holder-collections{
    
    display: flex;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    padding: 1.5rem 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.product-collections{

    min-width: 300px;
    height: 300px;
    margin: 0 1rem;
    position: relative;
    border-radius: 40px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-collections>img{

    width: 100%;
}

.product-collections:hover{

    box-shadow:  8px 8px 11px 0px rgba(0,0,0,0.58);
}

span{

    vertical-align: middle;
}

.faded-information{

    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    padding: 2rem 2rem;
    background: linear-gradient(0deg,var(--dark) 80%, rgba(0, 0, 0, 0));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.faded-information>h2{

    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: var(--orange);
    cursor: pointer;
}

.money{

    font-weight: 600;
}

mat-icon{

    color: var(--orange);
}

.transfer{

    position: absolute;
    right: 0;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(-90deg, black 40%, rgba(0, 0, 0, 0));
    backdrop-filter: blur(10px);
    border-radius: 5px;
    cursor: pointer;
}

.transfer>p{

    font-size: 1.5rem;
    max-width: 50px;
    text-align: center;
    margin-right: 1rem;
}

.transfer>mat-icon{

    width: 50px;
    height: 50px;
    font-size: 50px;
}

.transfer:hover{

    background: linear-gradient(-90deg, rgb(70, 70, 70) 40%, rgba(0, 0, 0, 0));
}